<html>
    <head> 
        <link th:href="@{/form-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a class="active">Form</a>
            <a>Inventory</a>
        </div>
        <div class="container">    
            <h2> Global Superstore </h2>
            <form method="post" th:object="${inventory}" th:action="@{/handleSubmission}">
                <select class="select">
                    <option value="" disabled selected>Select your option</option>
                    <option th:each = "item:${items}" th:text="${item}" th:value="*{category}"></option>
                </select>
                <input type="text" placeholder="Name" th:field="*{productName}">
                <input class="half" type="text" placeholder="Price" th:field="*{price}">
                <input class="half" type="text" placeholder="Discount" th:field="*{discount}">
                <h4>Order Date</h4>
                <input type="date" style="color:black" th:field="*{orderDate}">
                <input type="submit" value="Submit Item">
            </form>
        </div>      
    </body>
</html>
